requests>=2.23.0
pyodbc>=4.0.30
pymisp>=2.4.124
urllib3>=1.25.8
Cython>=0.29.16
jsonschema>=3.2.0
certifi>=2020.4.5.1
chardet>=3.0.4
idna>=2.9
python-dateutil>=2.8.1
six>=1.14.0
zmq>=0.0.0
elasticsearch>=7.6.0
ElasticQuery>=3.2
PyYAML>=5.3.1
attrs>=19.3.0
#cffi==1.7.0
cortex4py>=2.0.1
future>=0.18.2
libmagic>=1.0
#python-libmagic>=0.4.0
python-magic>=0.4.15
python-magic-bin>=0.4.14
python-magic-win64>=0.4.13
pyzmq>=19.0.0
thehive4py>=1.6.0
typing>=3.7.4.1
